<%- include("partials/header.ejs") %>
<h1>About Me</h1>
<img class="profile" src="images/cat meme img.jpg" alt="cat profile">
<p>
  Greetings, humble humans! I am Pookie Shankar, the illustrious Orange Fluff Ball of Greatness. As you can see, I am blessed with a stunning coat of vibrant, tangerine-tinged fur that simply demands attention.

  You mortals may refer to me as the 'Sona Chandi' or the 'Carrot-Cake Billa' - titles which I wear with great pride. I excel at such feline feats as:
  
  Knocking over your carefully curated knick-knacks
  Aggressively licking my own butt for hours on end
  Staring deeply into your soul until you refill my food bowl
  Despite my regal appearance and innate superiority, I do have a few quirks. For instance, I may occasionally forget how to cat and get stuck in a box. Or I might suddenly decide that the bathroom sink is the perfect napping spot.
  
  But worry not, my adoring subjects! These are merely the charming eccentricities of an orange cat lord such as myself. So bow down before me, shower me with treats, and bask in the glory of my magnificence. Together, we shall rule the internet meme kingdom!.</p>

  <%- include("partials/footer.ejs") %>