<%- include("partials/header.ejs") %>


  <h1>Home Page</h1>

  <p>Welcome to the Kingdom of Pookie Shankar, the Illustrious Orange Fluff Ball of Greatness!

    Greetings, dear humans! If you've stumbled upon this domain, consider yourself blessed to be in the presence of true feline royalty. I am Cheddar, the one and only orange cat supreme, and this is my kingdom.
    
    Here, you shall be entertained by my endless antics and bask in the magnificence of my vibrant, tangerine-tinged fur. Witness as I effortlessly knock over your cherished knick-knacks, engage in hours-long butt-licking sessions, and stare into your very soul until you refill my food bowl.
  </p>
  <p>
    My loyal subjects are welcome to shower me with treats and adoration, for I am a benevolent ruler - albeit one with a few charming quirks. Occasionally, I may forget how to cat and get stuck in a box. Or I might deem your bathroom sink the perfect napping spot. But these are merely the endearing eccentricities of an orange cat lord such as myself.

So come, gather round and bask in my glory! Together, we shall reign over the internet meme kingdom, spreading the gospel of the Cheeto Chungus and the Carrot-Colored Chaos Catalyst. Bow before me, and let the celebrations commence!</p>

  <%- include("partials/footer.ejs") %>